body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    color: #d8f0f2;
}

header {
    width: 100%;
    margin: 0;
    background-color: #305292;
}

header h1 { margin: 0; }